<div id='main' class='ui-page'>
	<header class='ui-header'>
		<h2 id='headerContent' class='ui-title ui-icon'
			style='background-image: url(icon.png);'>TripGo</h2>
	</header>
	<div id='resultBoard' class='ui-content content-padding'>Please
		connect with our service on your host device to get notications from
		it.</div>
	<footer class='ui-footer ui-grid-col-2'>
		<a id='connectButton' class='ui-btn' onclick='processConnection();'>
			Connect </a> <a class='ui-btn' onclick='closeButtonClicked();'>Close</a>
	</footer>
</div>