<div id='main' class='ui-page' style='background-color: #334d6e'>
	<div id='pop-up-scr' class='ui-content content-padding'
		onclick='viewMessage();'>
		<div class='main-text'>
			<img id='icon-noti' src='images/icon-noti.png' alt='icon-noti'
				width='70' height='81'>
		</div>
		<div class='main-text'>
			<p id='pSubTitle'>Trip from Cho Lon to Nguyen Kiem</p>
		</div>
		<div class='timer'>
			<p id='pReceivedTime'>6:40 PM</p>
		</div>
	</div>
	<footer class='ui-footer'>
		<div id='pop-cancel' onclick='cancelNotification();'>
			<img src='images/button-X.png' alt='button-X' width='70' height='70'>
		</div>
		<div id='pop-snooze' onclick='snooze();'>
			<img src='images/button-Z.png' alt='button-Z' width='70' height='70'>
		</div>
	</footer>
</div>